<h3>Please enter the flight details</h3>
<form action="/flights/new" method="post">
  <fieldset>
    <div class="form-field">
      <label for="airline">Airline:</label>
      <input type="text" id="airline" name="airline" spellcheck="off"
        value="<%= params[:airline] %>">
    </div>
    <div class="form-field">
      <label for="flight-number">Flight Number:</label>
      <input type="text" id="flight-number" name="flight_number"
          spellcheck="off" value="<%= params[:flight_number] %>">
    </div>
    <div class="form-field">
      <label for="destination">Destination:</label>
      <input type="text" id="destination" name="destination"
      spellcheck="off" value="<%= params[:destination] %>">
    </div>
    <div class="form-field">
      <label>Departure Time:</label>
      <div class="time-input">
        <select name="hour">
          <% (0..23).each do |hour| %>
            <option <%= previous_select(hour, params[:hour]) %>>
            <%= format("%02d", hour) %>
            </option>
            <% end %>
          </select>
          <select name="minute">
            <% (0..59).each do |minute| %>
              <option <%= previous_select(minute, params[:minute]) %>>
                <%= format("%02d", minute) %>
              </option>
              <% end %>
            </select>
          </div>
        </div>
        <button type="submit">Track Flight</button>
      </fieldset>
    </form>
